{{ define "content" }}
<div class="main">
  <div class="sidebar text-white">
    <div class="sidebar-header">
      <h1 class="display-4">Pipen Cyklar Fel</h1>
      <button type="button" onClick="hamburgerPushed();"><h1><i class="fas fa-bars"></i></h1></button>
    </div>

    <div class="sidebar-scroll-container" id="sidebar-scroll-container">
      <div class="sidebar-content">
        <h2 style="marging-right: 5px;"><i class="fas fa-map-signs"></i></h2>
        <div style="margin-left: 15px;">
          <h2>{{ .Trip.Name }}</h2>
          <p>Trip name</p>
        </div>
      </div>

      {{ if .Trip.Ongoing }}
      <div class="sidebar-content">
        <h2><i class="fas fa-ruler"></i></h2>
        <div style="margin-left: 15px;">
          <h2>{{ .Trip.Distance }} km</h2>
          <p>Total distance (bee line)</p>
        </div>
      </div>

      <div class="sidebar-content">
        <h2><i class="fas fa-stopwatch"></i></h2>
        <div style="margin-left: 15px;">
          <h2>{{ .Trip.ActiveTimeFormatted }}</h2>
          <p>Trip duration</p>
        </div>
      </div>

      <div class="sidebar-section-header">
        <h3><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Checkins</h3>
      </div>

      {{range .Trip.Checkins}}
      <div class="checkin-content">
        <h5>{{ .Name }}</h5>
        <p>{{ .Description }}</p>
        <p>{{ .TimeSinceFormatted }}</p>
      </div>
      {{ end }}

      {{ else }}
      <div class="sidebar-content">
        <h5>Trip has not been started.</h5>
      </div>
      {{ end }}
    </div>

    <div class="sidebar-bottom">
      <p><a href="https://github.com/phillebaba/bike-touring-tracker" target="_blank">Github</a> | Hosted with ♥ on <a href="https://github.com/phillebaba/laine-cloud" target="_blank">Laine Cloud</a></p>
    </div>
  </div>

  <div class="content" id="mapid"></div>
</div>

<script>
  {{if .Trip.Ongoing}}
    var map = L.map('mapid').setView([{{(index .Trip.Checkins 0).Lat}}, {{(index .Trip.Checkins 0).Lng}}], 11);
  {{else}}
    var map = L.map('mapid').setView([{{(index .Trip.Checkpoints 0).Lat}}, {{(index .Trip.Checkpoints 0).Lng}}], 11);
  {{end}}

  map.zoomControl.remove();

  L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
    maxZoom: 18,
  }).addTo(map);

  {{range .Trip.Checkins}}
    L.circle([{{.Lat}}, {{.Lng}}], {
        color: '#88bbd6',
        fillColor: '#99d3df',
        fillOpacity: 0.5,
      radius: {{ .Radius }}
    }).addTo(map);
  {{end}}

  var greenIcon = L.icon({
        iconUrl: 'static/assets/flag-green.png',
        iconSize:     [32, 32], // size of the icon
        iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
  });

  var yellowIcon = L.icon({
        iconUrl: 'static/assets/flag-yellow.png',
        iconSize:     [32, 32], // size of the icon
        iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
  });

  var redIcon = L.icon({
        iconUrl: 'static/assets/flag-red.png',
        iconSize:     [32, 32], // size of the icon
        iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
  });

  {{range .Trip.Checkpoints}}
    {{ if $.Trip.IsFirst . }}
      L.marker([{{.Lat}}, {{.Lng}}], {icon: greenIcon}).addTo(map);
    {{ else if $.Trip.IsLast . }}
      L.marker([{{.Lat}}, {{.Lng}}], {icon: redIcon}).addTo(map);
    {{ else }}
      L.marker([{{.Lat}}, {{.Lng}}], {icon: yellowIcon}).addTo(map);
    {{ end }}
  {{end}}


  <!-- Mobile Menu -->
  function hamburgerPushed() {
    var element = document.getElementById("sidebar-scroll-container")
    element.classList.toggle("sidebar-scroll-container")
    element.classList.toggle("sidebar-scroll-container-expanded")
  }
</script>
{{ end }}
