{{ define "content" }}
<div class="main">
  <div class="sidebar text-white">
    <div class="sidebar-header">
      <h1 class="display-4">Pipen Cyklar Fel</h2>
    </div>

    <div class="sidebar-section-header">
      <h4><i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Gotland Runt</h4>
      <!--<h5><i class="fas fa-map-marked-alt"></i> {{.Trip.Name}}</h5>-->
    </div>

    {{ if .Trip.Ongoing }}
    <div class="sidebar-section-header">
      <h4><i class="fas fa-chart-line"></i>&nbsp;&nbsp;Stats</h4>
    </div>
    <div class="sidebar-content">
      <h6>Total distance (bee line)</h6>
      <p>{{ .Trip.Distance }} km</p>
    </div>
    <div class="sidebar-content">
      <h6>Current trip duration</h6>
      <p>{{ .Trip.ActiveTimeFormatted }}</p>
    </div>

    <div class="sidebar-section-header">
      <h5><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Checkins</h5>
    </div>

    {{range .Trip.Checkins}}
    <div class="sidebar-content">
      <!--<h6>{{ .Name }}</h6>-->
      <h6>Test title</h6>
      <p>{{ .Description }}</p>
      <p>{{ .TimeSinceFormatted }}</p>
    </div>
    {{ end }}

    {{ else }}
    <div class="sidebar-content">
      <h5>Trip has not been started.<h5>
    </div>
    {{ end }}

    <div class="sidebar-bottom">
      <p><a href="https://github.com/phillebaba/bike-touring-tracker" target="_blank">Github</a> | Hosted with ♥ on <a href="https://github.com/phillebaba/laine-cloud" target="_blank">Laine Cloud</a></p>
    </div>
  </div>

  <div class="content" id="mapid"></div>
</div>

<script>
  var map = L.map('mapid').setView([57.609581, 14.243360], 8);

  L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', {
    maxZoom: 18,
  }).addTo(map);

  {{range .Trip.Checkins}}
    L.circle([{{.Lat}}, {{.Lng}}], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
      radius: {{ .Radius }}
    }).addTo(map);
  {{end}}

  var greenIcon = L.icon({
        iconUrl: 'static/assets/flag-green.png',
        iconSize:     [32, 32], // size of the icon
        iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
  });

  var yellowIcon = L.icon({
        iconUrl: 'static/assets/flag-yellow.png',
        iconSize:     [32, 32], // size of the icon
        iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
  });

  var redIcon = L.icon({
        iconUrl: 'static/assets/flag-red.png',
        iconSize:     [32, 32], // size of the icon
        iconAnchor:   [0, 32], // point of the icon which will correspond to marker's location
  });

  {{range .Trip.Checkpoints}}
    {{ if $.Trip.IsFirst . }}
      L.marker([{{.Lat}}, {{.Lng}}], {icon: greenIcon}).addTo(map);
    {{ else if $.Trip.IsLast . }}
      L.marker([{{.Lat}}, {{.Lng}}], {icon: redIcon}).addTo(map);
    {{ else }}
      L.marker([{{.Lat}}, {{.Lng}}], {icon: yellowIcon}).addTo(map);
    {{ end }}
  {{end}}
</script>
{{ end }}
